body {
    background-image: url(yash.jpg);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: left;
    background-attachment: fixed;

}

#hero {
    text-align: center;
    
}

#para1{
    text-align: center;
}

