nav {
    text-align: center;
    margin-left: 20%;
    margin-bottom: 37px;
    border: 2px dotted red;
    background-color: blueviolet;
}

nav a {
    text-decoration: none;
    padding: 70px;
}

body {
    background-image: url(yash.jpg);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: left;
    background-attachment: fixed;
    text-shadow:4px 4px 6px rgb(46, 45, 44);
}

#hero {
    text-align: center;
    display:contents;
}

#hero h1 {
    margin-left: 20%;
}

#hero p {
    /* border: 2px solid red; */
    margin-left: 20%;
    
}

.skills {
    text-align: center;
    text-overflow: clip;
    margin-left: 40%;
    margin-top:52px;
    width: 40%;
    /* border:2px solid rebeccapurple; */
}

.skills h1 {
    text-decoration: underline;
}

